<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UFR-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name"viewport" content="Width= device-width, initial-scale=1.0">
<title>Contact</title>
<head>
<body>
<p>


</p>
<p>
J'aimerai avor des renseignements sur le Bed and breakfast

Vous pouvez me contacter ici

</p>
</body>
</html>

