{% extends 'base.html.twig'%}


{% block body %}
<div class="row">
		<h1>Votre gite</h1>
	</div>
{{form_start(formBB)}}
{{include ('admin/form.html.twig')}}

<button class="btn btn-primary">Edit</button>
{{form_end(formBB)}}
{% endblock %}