{% extends 'base.html.twig' %}


{% block title %}
	<h1>
		New Bed and breakfast
	</1>

{% endblock %}

{% block body %}
	<div class="row">
		<h1>Add a new BB</h1>
	</div>
	{{form_start(formBB)}}
	{{include ('admin/form.html.twig')}}

	{{form_end(formBB)}}
{% endblock %}
